html, body, main, div, p, span {
    padding: 15px;
    margin: 15px;
    text-align: center;
    font-weight: 700;
}

html { background-color: #eee;}
body { background-color: #ddd;}
main { background-color: #ccc;}
div { background-color: #bbb;}
p { background-color: #aaa;}
span { background-color: #888; display: block;}